<!DOCTYPE html>
<div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Techstrat Inc</a></p>
    <!-- ################################################################################################ -->
</div>
