@using Sitecore.Feature.Articles
@model IEnumerable<Sitecore.Data.Items.Item>

<div class="wrapper row3">
    <section id="services" class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Related Articles</h6>
        </div>
        <ul class="nospace group">
            @foreach (var item in Model)
            {
                <li class="one_third">
                    <article>
                        <h4 class="heading">@item.Fields["title"]</h4>
                        <h6>@Html.Sitecore().Field("publishDate", item, new { format = "MMM\ndd,yyyy" })</h6>
                        <p>@item.Fields["summary"]</p>
                        <footer><a href=@Sitecore.Links.LinkManager.GetItemUrl(item)><i class="fas fa-arrow-right"></i></a></footer>
                    </article>
                </li>
            }
            </ul>
    </section>
</div>