<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Project.Global" description="Global Project Serialization" dependencies="Foundation.Serialization,Foundation.MultiTenant" patch:after="configuration[@name='Foundation.MultiTenant']">
					<targetDataStore physicalRootPath="C:\Techstrat\Project\Global\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

						<!--Content-->
						<include name="Project.Global.Content" database="master" path="/sitecore/content" />
						<include name="Project.Global.Media" database="master" path="/sitecore/media library/Images" />
						<include name="Project.Global.Templates" database="master" path="/sitecore/templates/Project/Hustle" />

					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>